@model Capstone.Web.Models.ViewModels.Course

<style>
    .modal-header, h4, .close {
        background-color: #5cb85c;
        color: white !important;
        text-align: center;
        font-size: 30px;
    }
</style>

<div id="createCourse">

    <div class="modal-header" style="padding:35px 50px;">
        <h4><span class="glyphicon glyphicon-plus-sign"></span> Add a New Course</h4>
    </div>

    @using (Html.BeginForm("AddNewCourse", "Home", FormMethod.Post))
    {
        <div class="form-group">
            <label for="Name">Enter Course Name</label>
            @Html.TextBoxFor(m => m.Name, new { placeholder = "SunnyVale Acres" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>

        <div class="form-group">
            <label for="NumberOfHoles">Number of Holes</label>
            <br />
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0">
                <option value="9">9</option>
                <option value="19">18</option>
            </select>
        </div>

        <div class="form-group">
            <label for="LengthInYards">Enter Length in Yards</label>
            @Html.TextBoxFor(m => m.LengthInYards, new { placeholder = "7000" })
            @Html.ValidationMessageFor(m => m.LengthInYards)
        </div>

        <div class="form-group">
            <label for="Par">Enter Par of Course</label>
            @Html.TextBoxFor(m => m.Par, new { placeholder = "70" })
            @Html.ValidationMessageFor(m => m.Par)
        </div>
    }
        <button style="width: 20%; display: block; margin: 0 auto;" type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-cloud-upload"></span> Add Course</button>
</div>

