@model Capstone.Web.Models.ViewModels.Course

<style>
    .modal-header, h4, .close {
        background-color: #5cb85c;
        color: white !important;
        text-align: center;
        font-size: 30px;
    }
</style>

<div id="createCourse">

    <div class="modal-header" style="padding:35px 50px;">
        <h4><span class="glyphicon glyphicon-plus-sign"></span> Add a New Course</h4>
    </div>

    @using (Html.BeginForm("AddNewCourse", "Home", FormMethod.Post))
    {
        <div>
            <span>Enter Course Name: @Html.TextBoxFor(m => m.Name, new { placeholder = "SunnyVale Acres" })</span>
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div>
            <span>
                Number of Holes: <select name="NumberOfHoles" required>
                    <option value="">Select</option>
                    <option value="9"> 9 </option>
                    <option value="18"> 18 </option>
                </select>
            </span>
        </div>
        <div>
            <span>Length in Yards: @Html.TextBoxFor(m => m.LengthInYards, new { placeholder = "7000" })</span>
            @Html.ValidationMessageFor(m => m.LengthInYards)
        </div>
        <div>
            <span>Par: @Html.TextBoxFor(m => m.Par, new { placeholder = "70" })</span>
            @Html.ValidationMessageFor(m => m.Par)
        </div>
        <div style="text-align: center">
            <button style="width: 20%; display: block; margin: 0 auto;" type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-cloud-upload"></span> Add Course</button>
        </div>
    }
</div>