
@model Capstone.Web.Models.League



<div id="createLeague">

    <div class="modal-header">
        <h1><span class="glyphicon glyphicon-plus-sign"></span> Create a New League</h1>
    </div>

    @using (Html.BeginForm("CreateLeague", "Home", FormMethod.Post))
    {
        <div class="form-group">
            <label for="Name">Enter League Name:</label>
            @Html.TextBoxFor(m => m.Name, new { placeholder = "Enter a name for you new league" })
            @Html.ValidationMessageFor(m => m.Name)

        <br />
            <label for="CourseId">Choose Course:</label>
            <br />
            <select class="form-control" name="CourseId">
                <option value="">Select</option>
                @foreach (var c in Model.courses)
                {
                    <option value="@c.ID"> @c.Name  ||  Hole Count: @c.NumberOfHoles  ||  Par: @c.Par </option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-cloud-upload"></span> Create League</button>
    }

</div>
