@using Capstone.Web.Models
@model Match

<div class="main">

    <form method="post" action="@Url.Action("CreateMatch","Home", Model)">
        <table>
            <tr>
                <td class="box">
                    Choose Date:
                </td>
                <td>
                        <input type="date" name="ReservationDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" min="@DateTime.Today.ToString("yyyy-MM-dd")"><br><br>
                </td>
            </tr>
            <tr>
                <td class="box">
                    Choose Tee-Time:
                </td>
                <td>
                    <select name="ReservationTime" required>
                        <option value="">Select</option>
                        <option value="7:00"> 7:00 AM </option>
                        <option value="7:30"> 7:30 AM </option>
                        <option value="8:00"> 8:00 AM </option>
                        <option value="8:30"> 8:30 AM </option>
                        <option value="9:00"> 9:00 AM </option>
                        <option value="9:30"> 9:30 AM </option>
                        <option value="10:00"> 10:00 AM </option>
                        <option value="10:30"> 10:30 AM </option>
                        <option value="11:00"> 11:00 AM </option>
                        <option value="11:30"> 11:30 AM </option>
                        <option value="12:00"> 12:00 PM </option>
                        <option value="12:30"> 12:30 PM </option>
                        <option value="1:00"> 1:00 PM </option>
                        <option value="1:30"> 1:30 PM </option>
                        <option value="2:00"> 2:00 PM </option>
                        <option value="2:30"> 2:30 PM </option>
                        <option value="3:00"> 3:00 PM </option>
                        <option value="3:30"> 3:30 PM </option>
                        <option value="4:00"> 4:00 PM </option>
                        <option value="4:30"> 4:30 PM </option>
                        <option value="5:00"> 5:00 PM </option>
                        <option value="5:30"> 5:30 PM </option>
                        <option value="6:00"> 6:00 PM </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="box">
                    Number of Players: @Model.leagueUsers.Count;
                    <input type="hidden" value="@Model.leagueUsers.Count" name="NumberOfPlayers" />
                </td>
            </tr>
            <tr>
                <td class="box">
                    Thank you!
                </td>
                <td>
                    <input type="submit" value="Submit" />
                </td>
            </tr>
        </table>
    </form>
</div>

