@using Capstone.Web.Models;
@using Capstone.Web.Models.ViewModels;
@model Leaderboard

@*<div class="main">
    <table>
        <thead>Leaderboard</thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>Average Score</td>
            </tr>
            @foreach (LeaderboardUser user in Model.Users)
            {
                <tr>
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.AverageScore</td>
                </tr>
            }
        </tbody>
    </table>
</div>*@

<div>
    <section style="min-height: 400px" class="container" id="features">
        <h1 style="text-align: center">League Leaderboard</h1>
        <br />
        <section>
            <section class="col-md-6">
                <h2 style="text-align: center">Name</h2>
                <br />
                @foreach (LeaderboardUser user in Model.Users)
                {
                    <h5 style="text-align: center">@user.FirstName @user.LastName</h5>
                    <br />
                }
            </section>
            <section class="col-md-6">
                <h2 style="text-align: center">Average Score</h2>
                <br />
                @foreach (LeaderboardUser user in Model.Users)
                {
                    <h5 style="text-align: center">@user.AverageScore</h5>
                    <br />
                }
            </section>
        </section>
    </section>
</div>