@model Capstone.Web.Models.ViewModels.Login
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="login">

    <h2>Login</h2>

    @using (Html.BeginForm("PostUserLogin", "Home", FormMethod.Post))
    {
        <div>
            
        @Html.ValidationMessage("invalid-credentials")
        </div>
        <div>
            @Html.TextBoxFor(m => m.Username, new { placeholder = "username" })
            @Html.ValidationMessageFor(m => m.Username)
        </div>
        <div>
            @Html.PasswordFor(m => m.Password, new { placeholder = "password" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <button>Login</button>
        @Html.ActionLink("Don't have an account? Click here to register.", "Registration")
    }
</div>