@model Capstone.Web.Models.ViewModels.LogMatch



<div id="logMatchScore">

    <div class="modal-header">
        <h1><span class="glyphicon glyphicon-plus-sign"></span> Log Scores for this Match</h1>
    </div>

    @using (Html.BeginForm("LogMatchScore", "Home", FormMethod.Post))
    {

        @for (var i = 0; i < Model.match.NumberOfPlayers; i++)
        {

             @foreach (var l in Model.leagueUsers)
             {
                <div class="form-group">
                    <label for="UserId">Choose Golfer:</label>
                     <br />
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="UserId">
                        <option value="">Select</option>
                        {
                        <option value="@l.Id"> Username: @l.Username  ||  Golfer Name: @l.FirstName @l.LastName </option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="score">Golfer's Score:</label>
                    @Html.TextBoxFor(m => m.score, new { placeholder = "Enter Golfer's Score" })
                    @Html.ValidationMessageFor(m => m.score)
                </div>
             }
        }

            <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-cloud-upload"></span> Create League</button>
     }
</div>
