@model Capstone.Web.Models.UserMatch


<div id="logMatchScore">

    <div class="modal-header">
        <h1>Log Scores for this Match</h1>
    </div>

    @using (Html.BeginForm("LogMatchScore", "Home", FormMethod.Post))
    {
             @foreach (var golfer in Model.leagueUsers)
             {
                <div class="form-group">
                    <p>Username: @golfer.Username  ||  Golfer Name: @golfer.FirstName @golfer.LastName</p>
                </div>
                <div class="form-group">
                    <label for="score">Score for @golfer.Username</label>
                    @Html.TextBoxFor(m => m.score, new { placeholder = "Enter Golfer's Score" })
                    @Html.ValidationMessageFor(m => m.score)
                </div>
             }
        
            <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-cloud-upload"></span> Log Match Score</button>
     }
</div>
