@model Capstone.Web.Models.ViewModels.Registration
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .modal-header, h4, .close {
        background-color: #5cb85c;
        color: white !important;
        text-align: center;
        font-size: 30px;
    }
</style>

<div id="register">
    <div class="modal-header" style="padding:35px 50px;">
        <h4><span class="glyphicon glyphicon-pencil"></span> Registration</h4>
    </div>

    @using (Html.BeginForm("PostUserRegistration", "Home", FormMethod.Post))
    {
        <div class="form-group">

            <label for="FirstName">First Name</label>
            @Html.TextBoxFor(m => m.FirstName, new { placeholder = "Enter first name" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
        <div class="form-group">

            <label for="LastName">Last Name</label>
            @Html.TextBoxFor(m => m.LastName, new { placeholder = "Enter last name" })
            @Html.ValidationMessageFor(m => m.LastName)
        </div>
        <div class="form-group">

            <label for="UserName">Username</label>
            @Html.TextBoxFor(m => m.UserName, new { placeholder = "Enter username" })
            @Html.ValidationMessageFor(m => m.UserName)
            @Html.ValidationMessage("username-exists")
        </div>
        <div class="form-group">

            <label for="Password">Password</label>
            @Html.PasswordFor(m => m.Password, new { placeholder = "Enter password" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="form-group">

            <label for="ConfirmPassword">Confirm Password</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Retype password" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <div style="text-align: center">
            <button style="width: 20%; display: block; margin: 0 auto;" type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok"></span> Register</button>
        </div>
    }
</div>
