@model Capstone.Web.Models.ViewModels.Registration
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="register">
    <div class="modal-header">

        <h2><span class="glyphicon glyphicon-pencil"></span> Registration</h2>

    </div>

    @using (Html.BeginForm("PostUserRegistration", "Home", FormMethod.Post))
    {
    <div class="form-group">

        <label for="FirstName">First Name</label>
        @Html.TextBoxFor(m => m.FirstName, new { placeholder = "Enter first name" })
        @Html.ValidationMessageFor(m => m.FirstName)
        <br />

        <label for="LastName">Last Name</label>
        @Html.TextBoxFor(m => m.LastName, new { placeholder = "Enter last name" })
        @Html.ValidationMessageFor(m => m.LastName)
        <br />

        <label for="UserName">Username</label>
        @Html.TextBoxFor(m => m.UserName, new { placeholder = "Enter username" })
        @Html.ValidationMessageFor(m => m.UserName)
        @Html.ValidationMessage("username-exists")
        <br />

        <label for="Password">Password</label>
        @Html.PasswordFor(m => m.Password, new { placeholder = "Enter password" })
        @Html.ValidationMessageFor(m => m.Password)
        <br />

        <label for="ConfirmPassword">Confirm Password</label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Retype password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
            <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok"></span> Register</button>
    }
</div>
