@using Capstone.Web.Models.ViewModels

@model Dashboard
    @{ 
        int counter = 1;
    }

<head>

</head>


<h2>Dashboard for authentic God-Kings</h2>

@*For standard golfer users:
      - Link to create league
          - maybe one to join leagues as well??? (if an invitation has been sent)
      - Link to search for courses (& view results on map)
      - Link(s) to view info/tee-times/leaderboard for each league that the golfer is a part of

    For league organizer users:
      - Same functionality as above
      - Link to send invitations to their league *(but maybe this goes inside the 'LeagueLeaderboard' page)*
      - Link to set up tee-times *(but maybe this goes insdie the 'LeagueLeaderboard' page)*
      - Link to log scores for each match *(but maybe this goes inside the 'LeagueLeaderboard' page)*
    
    For administrators:
    - Same functionality as above
    - Link to add courses*@

<div class="main">
    

    <ul>
        <li><a href=" @Url.Action("CreateLeague", "Home", null)">Create a League</a></li>
        <li><a href=" @Url.Action("LogMatchScore", "Home", null)">Log Match Scores</a></li>

    </ul>


</div>

<div>
    @foreach (Course c in Model.courses)
    {

        <p>Course @counter) @c.Name</p>
        <p>There are @c.NumberOfHoles holes in @c.Name</p>
        <p>@c.Par is the par for the course</p>
        <p>The total length of the course is @c.LengthInYards yards</p>


        counter= counter + 1;
     }

</div>


    


